.championCard {
  border: 2px none none;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.championCard img {
  width: 180px;
  height: 350px;
  margin-top: -100;
  border-radius: 4px;
}

.championCard .title {
  color: white;
  background-color: black;
  margin: 0;
  margin-top: -8px;
  padding: 16px;
}

.row {
  display: flex;
  flex-direction: row;
}
.championCardList {
  display: flex;
  flex-direction: column;

  border: 0px none none;
  background-color: black;
}

.championCardList h1,
.championCardList h2,
.championCardList h3 {
  color: aliceblue;
  font-size: 20px;
  /* max-width: 40vw; */
  margin: 0;
  font-family: "Roboto";
  margin: 12px 6px;
}

.championCardList h1 {
  margin-top: 16px;
}

.randomChampion {
  padding-right: 20px;
  padding-bottom: 20px;
}

.role {
  font-family: "Roboto";
  font-weight: 40px;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 12px 36px;
  padding: 4px 2px;
  border: 2px solid rgb(241, 145, 145);
  background-color: rgb(241, 145, 145);
  border-radius: 24px;
  color: aliceblue;
  font-size: 20px;
  flex: 1;
}
