.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: 0;
  /* margin-left: 64px; */
  min-height: 100vh;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  padding: 60px;
}

.tittle h1 {
  margin: 0;

  /* width: 443px; */
  /* height: 177px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.tittle p {
  /* width: 443px; */
  /* height: 94px; */
  margin: 12px 0px;
  font-size: 0.875rem;
  letter-spacing: 0.08em;
  line-height: 1.6;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 147.19%;
}

.tittle button {
  background-color: #778bd6;
  color: aliceblue;
  /* width: 302px; */
  /* height: 62px; */
  margin: 12px 0px;
}

.tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.champions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.photo {
  width: 50px;
  object-fit: contain;
}

.filterRoles {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 0;
  flex-wrap: wrap;
}

.appChampSty {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background: #2d334a;
  border-left: 16px solid #778bd6;
  /* padding-top: 100px; */
  padding: 0 52px;
  /* transform: rotate(12deg); */
}
